// Credit: Nicolas Gallagher and SUIT CSS.
// stylelint-disable function-disallowed-list
// scss-docs-start aspect-ratios
$aspect-ratios: (
    "1x1": 100%,
    "9x10": calc(10 / 9 * 100%),
    "4x3": calc(3 / 4 * 100%),
    "16x9": calc(9 / 16 * 100%),
    "21x9": calc(9 / 21 * 100%),
);
// scss-docs-end aspect-ratios
// stylelint-enable function-disallowed-list
.ratio {
    position: relative;
    width: 100%;

    &::before {
        display: block;
        padding-top: var(--#{$variable-prefix}aspect-ratio);
        content: "";
    }

    > * {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

@each $key, $ratio in $aspect-ratios {
    .ratio-#{$key} {
        --#{$variable-prefix}aspect-ratio: #{$ratio};
    }
}
